@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
html {
    font-family: 'Montserrat';
}

body {
    margin: 0px;
    padding: 0px;
}

.background-welcome {
    text-align: -webkit-center;
    text-align: -moz-center;
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: rgb(35, 35, 35);
}

#procedural-generation {
    text-align: -webkit-center;
    text-align: -moz-center;
    position: absolute;
    width: 100%;
    height: 800px;
}

.over {
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to top left, rgb(0,0,255), rgb(0, 255, 225));
}

.over-pg {
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to top left, rgb(5, 41, 125), rgb(0, 255, 225));
}

.nav {
    position: relative;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
}

.text-bold-nav {
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.text-normal-nav {
    color: white;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    transition: color .2s ease-in-out;
}

.text-normal-nav:hover {
    color: rgb(64, 152, 241);
}

.welcome {
    position: relative;
    display: flex;

    width: 100%;
    height: 730px;

    justify-content: center;
    align-items: center;
}
.title {
    display: inline-block;
    width: 400px;
    height: 500px;

    text-align: -webkit-center;
    text-align: -moz-center;
}

.header-text {
    margin-top: 100px;
    color: white;
    font-size: 60px;
    font-weight: 600;

    text-transform: uppercase;
}

.semi-header-text {
    margin-top: 100px;
    color: white;
    font-size: 30px;
    font-weight: 500;

    text-transform: uppercase;
}

.normal-header-text {
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;

    text-transform: uppercase;
}
.link:hover {
    color: rgb(64, 152, 241);
}
.link {
    color: white;
    transition: color .2s ease-in-out;
}

.footer-main {
    width: 100%;
    height: 270px;

    text-align: -webkit-center;
    text-align: -moz-center;

    display: inline-block;
    background-color: rgb(18, 38, 71);
}

.social-link {
    margin-left: 20px;
    margin-right: 20px;
    width: 60px;
    height: 60px;

    justify-content: center;
    align-items: baseline;
    display: flex;
    margin-top: 20px;
    text-transform: uppercase;
    float: left;
    color: white;
}

.social-link-title-text {
    font-weight: 500;
    margin-top: 60px;
    display: inline-block;
    text-align: -webkit-center;
    text-align: -moz-center;
    transition: color .2s ease-in-out;
}

.social-link-title-text:hover {
    cursor: pointer;
    color: rgb(64, 152, 241);
}

#github-social-icon {
    background-image: url("");
}


.glsect {
    position: relative;
    display: flex;

    width: 100%;
    height: 800px;

    justify-content: center;
    align-items: center;
}

.copyright {
    color: white;
    margin-top: 230px;
    font-size: 17px;
    text-transform: uppercase;
}
.section {
    width: 100%;
    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-normal-nav:hover {
    cursor: pointer;
}


/* section images */
#image-background-unity-graphics {
    background-image: url("../images/My\ Post-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(-10px);
}