#webgl-wrapper {
    height: 1000px;
}

:root {
    --width: 100%
}

#img-1:hover {
    width: var(--width);
}
#img-2:hover {
    width: var(--width);
}
#img-3:hover {
    width: var(--width);
}
#img-4:hover {
    width: var(--width);
}

@media only screen and (max-width: 1670px) {
    #terrain-context {
        height: 800px;
    }

    #webgl-wrapper {
        height: 800px;
    }
}

@media only screen and (max-width: 1470px) {
    #terrain-context {
        height: 600px;
    }

    #webgl-wrapper {
        height: 600px;
    }
}

@media only screen and (max-width: 1280px) {
    .slideshow {
        display: unset;
    }

    #img-1:hover {
        width: 100%;
    }
    #img-2:hover {
        width: 100%;
    }
    #img-3:hover {
        width: 100%;
    }
    #img-4:hover {
        width: 100%;
    }
}